---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=XXXXXXXXX&steamids=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n\t\"response\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197960435530\",\n\t\t\t\t\"communityvisibilitystate\": 3,\n\t\t\t\t\"profilestate\":
        1,\n\t\t\t\t\"personaname\": \"Robin\",\n\t\t\t\t\"lastlogoff\": 1356088564,\n\t\t\t\t\"profileurl\":
        \"http://steamcommunity.com/id/robinwalker/\",\n\t\t\t\t\"avatar\": \"http://media.steampowered.com/steamcommunity/public/images/avatars/f1/f1dd60a188883caf82d0cbfccfe6aba0af1732d4.jpg\",\n\t\t\t\t\"avatarmedium\":
        \"http://media.steampowered.com/steamcommunity/public/images/avatars/f1/f1dd60a188883caf82d0cbfccfe6aba0af1732d4_medium.jpg\",\n\t\t\t\t\"avatarfull\":
        \"http://media.steampowered.com/steamcommunity/public/images/avatars/f1/f1dd60a188883caf82d0cbfccfe6aba0af1732d4_full.jpg\",\n\t\t\t\t\"personastate\":
        1,\n\t\t\t\t\"realname\": \"Robin Walker\",\n\t\t\t\t\"primaryclanid\": \"103582791429521412\",\n\t\t\t\t\"timecreated\":
        1063407589,\n\t\t\t\t\"gameserverip\": \"208.64.201.57:27019\",\n\t\t\t\t\"gameextrainfo\":
        \"Dota 2\",\n\t\t\t\t\"gameid\": \"570\",\n\t\t\t\t\"gameserversteamid\":
        \"90085752034797568\",\n\t\t\t\t\"loccountrycode\": \"US\",\n\t\t\t\t\"locstatecode\":
        \"WA\",\n\t\t\t\t\"loccityid\": 3961\n\t\t\t}\n\t\t]\n\t\t\n\t}\n}"
  recorded_at: Sat, 22 Dec 2012 07:18:40 GMT
recorded_with: VCR 2.3.0
