---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v0001/?key=XXXXXXXXX&relationship=friend&steamid=76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n\t\"friendslist\": {\n\t\t\"friends\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197960265731\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197960265738\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197960265740\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197960265747\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"7656119796[...]
